<html>
	<head>
		<title>Testing Page</title>
	</head>
	<body>
		<input type="textbox" name="value_box" id="uValue" />
		<input type="button" onclick="javascript:createTextBox()" value="Click"/>
		<div id="pop"></div>

		<script type="text/javascript">
			function createTextBox() {
			   
		        var box=document.getElementById('pop');                             //getting the ID of the containner
		        var val=document.getElementById('uValue').value;                    //getting the Input value from the user

		        var candidateForm=document.createElement('form');                   //Creating a form and giving the attributes
		        candidateForm.name="candidateForm";
		        candidateForm.method="post";
		        candidateFomr.action="process.php";

		        for(var i=0; i<val;i++)
		        {
		            var newTextbox = document.createElement('input');               //creating the textboxes according to the users input
		            newTextbox.type="textbox";
		            newTextbox.name="candidate[]";
		            newTextbox.id="candidateId";

		            candidateForm.appendChild(newTextbox);                          //putting the created textboxes in the form

		        }

		        var saveButton=document.createElement('input');                     //creating the submit button which when clicked will save the value written in the textboxes
		        saveButton.type="submit";
		        saveButton.name="submitButton";
		        saveButton.value="Enter";
		        candidateForm.appendChild(saveButton);                              //putting the submit button in the form

		        box.appendChild(candiateForm);                                      //And putting the form in the containner.

		        //alert (val);
		    }																														
		</script>
	</body>
</html>